<div class="modal fade" id="RemoverProdutoCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Remover Projeto</h5>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    Projeto Removido
                </p>
                <div class="modal-footer">
                    <a asp-controller="Produto"
                       asp-action="RemoverProduto"
                       asp-route-produtoId="@(Model.Id)"
                       class="btn btn-primary">
                        OK
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmarProdutoCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Confirma?</h5>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    Produto Cadastrado!
                </p>
                <div class="modal-footer">
                    <a asp-controller="Produto"
                        asp-action="MeusProdutos"
                        class="btn btn-primary">
                        OK
                    </a>                    
                </div>
            </div>
        </div>
    </div>
</div>