<div class="modal fade" id="FinalizarProjetoInfoModal" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Aviso!</h5>
            </div>
            <div class="modal-body">
                Bem-Vindo, esta é a seção de finalização de projeto, é exclusiva para orientadores,
                aqui você poderá informar como foi o desenvolvimento deste projeto e se ele deve ter
                prosseguimento,  Tem Certeza que deseja continuar?
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Sim</button>
            <div class="modal-footer">
                <a asp-controller="Produto"
                   asp-action="Comprados"
                   class="btn btn-primary">Não</a>
            </div>
        </div>
    </div>
</div>