<div class="modal fade" id="FinalizarPedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Aviso!</h5>
            </div>
            <div class="modal-body">
               Tem Certeza que deseja Comprar este produto?
            </div>
            <div class="modal-footer">
                <a asp-controller="Pedido" 
                   asp-action="Resumo" 
                   asp-route-itemPedidoId="@(Model.Id)"
                   class="btn btn-primary">Sim</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>