@{
    ViewData["Title"] = "Carrosel";
}

<br /><br />

@model E_Conc.Models.ViewModels.CarrosselViewModel

<div id="my-carouselDesenvolvimento" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <h3>Desenvovimento</h3>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                @foreach (var categoriaViewModel in Model.CategoriasViewModel)
                {
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="~/images/Produtos/@(categoriaViewModel.Produtos.SelectMany(p => p.Arquivo))" />
                            </div>
                            <div class="panel-footer text-center">
                                <div>@(categoriaViewModel.Produtos.SelectMany(p => p.Nome))</div>
                                <div>
                                    <a asp-action="carrinho">Adicionar ao Carrinho</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*@Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", categoriaViewModel)*@
                }
            </div>
        </div>

        @*<div class="item">
                <div class="row">
                    @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.Produtos)
                </div>
            </div>*@

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carouselDesenvolvimento" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carouselDesenvolvimento" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>