@{
    ViewData["Title"] = "Carrinho";
}

<br />

<h3>Meu Carrinho</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">Item</div>
            <div class="col-md-4">Categoria</div>
            <div class="md-2">Orientador</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/Produtos/DesenvolvimentoCarrinho.jpg" />
            </div>
            <div class="col-md-3">E-commerce</div>
            <div class="col-md-4">Desenvolvimento</div>
            <div class="col-md-2">Marco Monteiro.</div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                Análise e Desenvolvimento de Sistemas
            </div>
            <div class="col-md-2">
                ADS
            </div>
        </div>
    </div>
</div>
