@model ItemPedido

<br /><br /><br />

<div class="panel panel-default">
    <div class="panel-body">
        <hr />
        <div class="row">
            <div class="col-md-8">
                <h3>Informações do Aluno que está desenvolvendo o Projeto</h3>
                <div>RA: @(Model.Usuario.Ra)</div>
                <div>Nome Completo: @(Model.Usuario.NomeCompleto)</div>
                <div>Email: @(Model.Usuario.Email)</div>
                <div>Telefone: @(Model.Usuario.PhoneNumber)</div>
            </div>
        </div>
    </div>
</div>