@{
    ViewData["Title"] = "Resumo";
}

<br />

<h3>Resumo do Pedido</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Nº Do Pedido: 12345678</h3>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8">
                <h3>Seus Dados</h3>
                <div>Nome: João da Silva</div>
                <div>Tel: (11) 1234-6789</div>
                <div>RA: 0030481513030</div>
                <div>Instituição: José Crespo Gonzáles</div>
                <div>Sigla: Fatec-SO</div>
                <div>Curso: Análise e Desenvolvimento de Sistemas</div>
                <div>Sigla: ADS</div>
            </div>
            <div class="col-md-4">
                <h3>Endereco de Entrega</h3>
                <div>marco.monteiro@gmail.com</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8">
                <h3>Item</h3>
                <div>Desenvolvimento de E-Commerces</div>
            </div>
            <div class="col-md-4">
                <h3>Categoria</h3>
                <div>Desenvolvimento</div>
            </div>
        </div>
    </div>
</div>