@foreach (var produto in Model)
{
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="~/images/Produtos/@(produto.Arquivo)" />
            </div>
            <div class="panel-footer text-center">
                <div>@(produto.Nome)</div>
                <div>
                    <a asp-action="carrinho">Adicionar ao Carrinho</a>
                </div>
            </div>
        </div>
    </div>
}