@foreach (var produto in Model)
{
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="~/images/Produtos/@(produto.Arquivo.ToString())" />
            </div>
            <div class="panel-footer text-center">
                <div>@(produto.Nome.ToString())</div>
                <div>
                    <a asp-controller="Produto"
                       asp-action="VerProdutoCarrossel"
                       asp-route-produtoId="@(produto.Id)">Ver Produto</a>
                </div>
            </div>
        </div>
    </div>
}