<link href="~/css/Menu.css" rel="stylesheet" />

@if (User.Identity.IsAuthenticated)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"
           asp-controller="Produto" asp-action="Carrossel">
            Produtos
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Produto" asp-action="Carrossel">Destaque</a></li>
            <li><a asp-controller="Produto" asp-action="VerTudo">Ver Todos</a></li>
            <li><a asp-controller="Produto" asp-action="Cadastrar">Cadastrar</a></li>
            <li><a asp-controller="Produto" asp-action="MeusProdutos">Meus Produtos</a></li>
            <li><a asp-controller="Produto" asp-action="Comprados">Meus Produtos Comprados</a></li>
            <li><a asp-controller="Produto" asp-action="TodosComprados">Produtos Comprados</a></li>
        </ul>
    </li>
}

<div class="topnav">
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="Sobre">Sobre</a>
    <a asp-controller="Home" asp-action="Contato">Contato</a>
    
    @if (User.Identity.IsAuthenticated)
    {
        var username = @User.Identity.Name;
       
        <a asp-controller="Conta" asp-action="Logoff">Logoff</a>        
        <p class="navbar-text">
            Olá, <a asp-controller="Conta" asp-action="MinhaConta"> @(username.Split('@')[0])</a>
        </p>
    }
    else
    {
        <a asp-controller="Conta" asp-action="Login">Login</a>
    }
</div>