@model Produto

@{
    ViewData["Title"] = "Cadastrar Projeto";
}

<form role="form" method="post" asp-controller="Produto" asp-action="Cadastrar">
    <div asp-validation-summary="All"></div>
    <br /><br />
    <br /><br />
    <input type="text" placeholder="Nome do Projeto" required class="form-control input-lg"
           asp-for="Nome" />
    <br />
    <input type="text" placeholder="Descrição" required class="form-control input-lg"
           asp-for="Descricao" />
    <br />
    @Html.DropDownList("Categoria", new SelectList(Enum.GetValues(typeof(Categoria))),
          "Selecione uma Categoria",  new { @class = "form-control" }
    )
    <br />
    @Html.DropDownList("Curso", new SelectList(Enum.GetValues(typeof(Curso))),
          "Selecione um Curso",  new { @class = "form-control"}
    )
    <br /> <br />
    <label>Qual conhecimento o aluno deve ter para realizar este projeto? Cadastre um 
            ou mais requisitos separados por vírgula (exemplo: C#, Sql, etc.)</label>
    <input type="text" placeholder="Requisitos" required class="form-control input-lg"
           asp-for="Requisitos" />
    <br /> <br />
    <br />
    <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
    <br />
</form>