@model Produto
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <img src="~/images/Produtos/@Model.Arquivo.ToString()"  style="width:325px; height:325px;"/>
        </div>
        <div class="col-md-offset-6">
            <br /><br /><br />
            <h3>@Model.Nome</h3>
            <h5>Orientador:<a href="#">@Model.Usuario</a></h5>
            <button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>
                Adicionar ao Carrinho
            </button>
        </div>

        <div class="col-md-12">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    @Model.Descricao
                </p>
                <h4>Conhecimentos Desejados</h4>
                <ul>
                    <li>@Model.Conhecimento</li>
                </ul>
            </div>
            <br /><br />
            <div style="width:100%;border-top:1px solid silver">
                <h4>Deixe seu Comentário ou Dúvida</h4>
                <textarea></textarea>
                <br />
                <button>Comentar</button>
            </div>
        </div>
    </div>
</div>