@model Produto
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <img src="~/images/Produtos/@Model.Arquivo.ToString()"  style="width:325px; height:325px;"/>
        </div>
        <div class="col-md-offset-6">
            <br /><br /><br />
            <h3>@Model.Nome</h3>
            <h5>Orientador:@Model.Usuario.NomeCompleto</h5>
            @if (this.User.IsInRole("Aluno"))
            {
                <a class="btn btn-success"
                   asp-controller="Pedido"
                   asp-action="Carrinho"
                   asp-route-produtoId="@(Model.Id)">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Adicionar ao Carrinho
                </a>
            }
        </div>
        <div class="col-md-12">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    @Model.Descricao
                </p>
                <h4>Conhecimentos Desejados Para Elaboração do Projeto</h4>
                <ul>
                   
                </ul>
            </div>
        </div>
    </div>
</div>