<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="~/images/Produtos/PesquisaAcademicaDetalhes.jpg" />
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <br/><br /><br />
            
            <h3>Aprendizado e Linguagem de Máquina</h3>
            <h5 style="color:#337ab7">Orientador:<a href="#"> Marco Monteiro Junior</a> · <small style="color:#337ab7">(5054 Visualizções)</small></h5>
            
            <div class="section" style="padding-bottom:20px;">
                <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Adicionar ao Carrinho</button>
                <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Adicionar aos Favoritos</a></h6>
            </div>
        </div>

        <div class="col-xs-9">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">                   
                     Desenvolvimento de Pesquisa a cerca da linguagem utilizada pelas máquinas e como elas aprendem aquilos que as ensinamos
                     Quais os meios para se ensinar um computador, qual as características ele deve ter e quais os testes necessários para
                     a máquina efetivamente aprender.                  
                </p>
                <ul>
                    <li>Ter sólido conhecimento em Binário</li>
                    <li>Sólido Conhecimento em ao menos uma linguagem de programação.</li>
                    <li>Disponibilidade para pesquisa de Campo</li>                        
                </ul>
            </div>
        </div>
    </div>
</div>

<br/><br />

<h4>Deixe seu Comentário ou Dúvida</h4>

<textarea></textarea>
<br/>
<button>Comentar</button>
