@model List<ProdutoLog>

<link href="~/css/Historico.css" rel="stylesheet" />
<br/><br />
<br /><br />
    <div class="timeline">
        @for (var i = 0; i < Model.Count; i++)
        {
            @if (i % 2 == 0)
            {
                <div class="container left">
                    <div class="content">
                        <h2>@Model[i].DataLog.Date.Year</h2>
                        <p>@Model[i].Mensagem</p>
                    </div>
                </div>
            }
            else
            {
                <div class="container right">
                    <div class="content">
                        <h2>@Model[i].DataLog.Date.Year</h2>
                        <p>@Model[i].Mensagem</p>
                    </div>
                </div>
            }
        }
    </div>