@model List<ProdutoLog>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/css/Historico.css" rel="stylesheet" />
<br/><br />
<br /><br />
<body>
    <div class="timeline">
        @foreach (var item in Model)
        {
           <div class="container center">
               <div class="content">
                   <h2>@item.DataLog.Date.Year</h2>
                   <p>@item.Mensagem</p>
               </div>
           </div>           
        }
    </div>
</body>