<div class="container">
    <br /> <br /> <br />
    <div class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img width="220" height="220" class="group list-group-image" src="~/images/Produtos/Desenvolvimento.jpg" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Desenvolvimento de Ferramenta
                    </h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img width="220" height="220" class="group list-group-image" src="~/images/Produtos/Empreendedorismo.jpg" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Desenvolvimento de Ferramenta
                    </h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img width="220" height="220" class="group list-group-image" src="~/images/Produtos/IniciacaoCientifica.jpg" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Desenvolvimento de Ferramenta
                    </h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img width="220" height="220" class="group list-group-image" src="~/images/Produtos/PesquisaAcademica.jpg" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Desenvolvimento de Ferramenta
                    </h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img width="220" height="220" class="group list-group-image" src="~/images/Produtos/Desenvolvimento.jpg" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Desenvolvimento de Ferramenta
                    </h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
