@model IEnumerable<Produto>

@foreach (var produto in Model)
{
        <div class="item  col-xs-4 col-lg-4">
            <br/><br /><br />
            <div class="thumbnail">
                <img width="220" height="220" class="group list-group-image" src="~/images/Produtos/@produto.Arquivo" />
                <div class="caption" id="@produto.Categoria">
                    <h4 class="group inner list-group-item-heading">
                        @produto.Nome
                    </h4>
                    <p class="group inner list-group-item-text">
                        @produto.Descricao
                    </p>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}