@model ContatoViewModel
@{
    ViewData["Title"] = "Contato";
}

<style>
    .contactPage {
        margin-top: 5%;
    }
    img {
        float: right;
    }
</style>
<div class="row">    
    <div class="contactPage">
        <h4>Precisa de Ajuda? Entre em Contato Conosco.</h4>
        <img src="~/images/Promocional/PilhaDeLivros.png" class="img-responsive" />
        <div class="col-md-6">
            <form role="form" method="post" asp-controller="Home" asp-action="Contato">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" required class="form-control input-sm"
                           asp-for="Name" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" required class="form-control input-sm"
                           placeholder="Seu e-mail não será divulgado."
                           asp-for="Email" />
                </div>
                <div class="form-group">
                    <label for="subject">Assunto</label>
                    <input type="text" required class="form-control input-sm"
                           placeholder="Ex: 'Problema de login', 'Como me inscrever no E-Conc', etc."
                           asp-for="Subject" />
                </div>
                <div class="form-group">
                    <label for="msg">Mensagem</label>
                    <textarea class="form-control input-lg" asp-for="Message" required
                              placeholder="Informe o seu problema para que possamos te ajudar!">
        </textarea>
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>