@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section class="login-form">
            <form method="post" action="#">
                <br />
                <img src="~/images/Logo/ArteLogo.png" class="img-responsive" />
                <br />
                <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
                <br />
                <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />             
                <br />
                <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                <br/>
                <div align="center">
                    <a href="#">Esqueci Minha Senha</a>
                </div>
            </form>
        </section>
    </div>
</div>