@{
    ViewData["Title"] = "Sobre";
}

<style>
    img{
        margin-top: 5%;
    }
</style>

<img src="~/images/Logo/ArteLogo.png" class="img-responsive center-block" />
<br />
<p class="text-justify">
    O <strong>E-Conc</strong> é um projeto open-source desenvolvido por Marco Monteiro Junior, analista desenvolvedor da stack Microsoft
    (.Net Framework) e ex-estudante da Faculdade de Tecnologia de Sorocaba (Fatec-SO), a ferramenta E-Conc foi desenvolvida
    como trabalho de conclusão de curso no ano de 2018 sob orientação da professora de Engenharia de Software Daniela Arruda.
</p>

<h3>@ViewData["Title"]</h3>
<p class="text-justify">
    O Objetivo desta plataforma é disponibilizar aos alunos um banco de ideias para trabalhos de conclusão de curso, utilizando
    uma dinâmica consagrada no mercado, o E-Commerce. Ou seja, nesta plataforma o auno enxergará "produtos" que são projetos para
    conclusão de curso, poderão adicionar o projeto ao carrinho, vizualizar resumos de "compra", descrição de produtos, etc.
    Em Suma, o objetivo da plataforma é, além de auxiliar alunos na escolha de temas para trabalhos de conclusão de curso, permitir
    uma experiência de usuário amigável, utilziando conceitos de UX (User Experience).
</p>

<h3>Pesquisa</h3>
<p class="text-justify">
    O Objetivo, como dito anteriormente é auxiliar os alunos na escolha de seu trabalho de conclusão de curso, para isso,
    houve um pequeno levantamento de dados em pesquisas em redes sociais, para comprovar a eventual dificuldade dos alunos
    em escolher temas para o trabalho de conclusão de Curso. Nesta pesquisa, pode-se verificar que 47,5% dos alunos tiveram
    dificuldades na hora de escolher o tema do seu projeto, justificando assim o desenvolvimento de metodologias, técnicas e
    ferramentas que possibilitem a redução destes números.
</p>

<p class="text-justify">
    O Gráfico abaixo separa, numa pesquisa com 40 (quarenta) participantes, os alunos que relatarm ter dificuldade na escolha do tema
    para o trabalho de conclusão de curso para aqueles que não tiveram.
</p>

<br /><br />
<div class="row">
    <div class="col-md-8">
        <img src="~/images/Graficos/GrafPizza.png" class="img-responsive center-block" />
    </div>
    <div class="col-md-4">
        <img src="~/images/Graficos/LegendaAzul.png">  Não Tive Dificuldades<br />
        <img src="~/images/Graficos/LegendaLaranja.png">  Tive Dificuldades
    </div>
</div>
<br />

<h3>Resultados</h3>
<p class="text-justify">
    O Resultado correu dentro do esperado, onde uma grande parte dos alunos (quase que metade dos entrevistados) relataram dificuldades na 
    escolha do tema.
</p>