<h2>Página Dedicada aos Administradores do E-Conc</h2>
<p>Seja Bem-Vindo ao seu painel de administração!</p>

<a asp-controller="Conta" asp-action="Registrar">Cadastrar Novo Usuário</a>
<br/>
<a asp-controller="Usuario" asp-action="Index">Autorização de Usuários</a>