@{
    ViewData["Title"] = "Aguardando Confirmação";
}

<style>
    h1{
        margin-top: 10%;
    }
</style>

<h1>Bem-Vindo ao E-Conc!</h1>
<p>Por Favor, consulte sua caixa de entrada para confirmar seu email.</p>