@model RegistroContaViewModel

@{
    ViewData["Title"] = "Registrar";
}

<section class="login-form">
    <form role="form" method="post" asp-controller="Conta" asp-action="Registrar">
        <div asp-validation-summary="All"></div>
        <br /><br />
        <br /><br />
        <input type="email" placeholder="Email" required class="form-control input-lg"
               asp-for="Email" />
        <br />
        <input type="text" placeholder="Registro Acadêmico(RA)" required class="form-control input-lg"
               asp-for="Ra" />
        <br />
        <input type="password" placeholder="Senha" required class="form-control input-lg"
               asp-for="Senha" />
        <br />
        <input type="text" placeholder="Nome Completo" required class="form-control input-lg"
               asp-for="NomeCompleto" />
        <br />
        <input type="text" placeholder="Telefone" required class="form-control input-lg"
               asp-for="Telefone" />
        <br />
        <input type="text" placeholder="Instituição" required class="form-control input-lg"
               asp-for="Instituicao" />
        <br />
        <input type="text" placeholder="Sigla da Instituição" required class="form-control input-lg"
               asp-for="InstituicaoSigla" />
        <br />
        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
        <br />
        <div align="center">
            <a href="#">Esqueci Minha Senha</a>
        </div>
    </form>
</section>